.text-gear h1{
  margin-top: -160px;
  z-index: 1;
  color:white;
  font-weight: normal;
  font-size: 15px;
  padding: 0px 5px 0px 20px;
}
.text-gear p{
  color:white;
  font-weight: bold;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
}
.text-gear h4{
  color:lightgray;
  font-weight: lighter;
  font-size: 13px;
  margin-top: -10px;
  margin-left: 20px;
  text-align: left;
  text-decoration: none;

}
.gear a{
  text-decoration: none;
  color:lightgray;
}
.gear a:hover{
  color:  white;
}
.fa-clock,.fa-share-alt{
  margin-left: 10px;
  margin-right: 5px;
}
